body {
  font-size: 100%;
  font-weight: bold;
  font-family: 'Arvo', serif;
  margin: 0px;;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently*/
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6, .ballotBox {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

#contentArea {
}

.talk-bubble {
	margin: .5em 2em;
  clear: both;
  display: inline-block;
  position: relative;
  max-width: 40em;
  min-width: 5em;
  word-wrap: break-word;
//	width: 200px;
	height: auto;
	background-color: #dddddd;
}

.chatForm {
  width: 100%;
}

.chatForm input[type="text"] {
  width: 60%;
  font-family: inherit;
  font-size: 1em;
  height: 2em;
}

.chatForm input[type="submit"] {
  border: solid #dddddd;
  font-family: inherit;
  height: 2em;
  font-size: 1em;
  width: 29.5%;
}

.chatArea {
  height: 40em;
  width: 100%;
  display: block;
  float: left;
}

#messages {
  height: 37em;
  position: relative;
  top: 0;
  width: 100%;
  overflow-y: auto;
}

.noParty {
  clear: both;
  width: 100%;
  text-align: center;
}

.noParty .talk-bubble{
  max-width: 40em;
}

.blueTeam {
  float: left;
}

.redTeam {
  float: right;
}

.talktext {
  padding: .5em;
}

.talktext p {
  text-align: justify;
}

.round{
  border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;

}

.tri-right.blueTeam:after{
	content: ' ';
	position: absolute;
  z-index: -1;
	width: 0;
	height: 0;
  left: -1.5em;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 1.5em solid;
	border-color: #dddddd transparent transparent transparent;
}

.tri-right.redTeam .talktext{
  text-align: right;
}

.tri-right.redTeam:after{
	content: ' ';
	position: absolute;
  z-index: -1;
	width: 0;
	height: 0;
  left: auto;
	right: -1.5em;
  top: 0px;
	bottom: auto;
	border: 1.5em solid;
	border-color: #dddddd transparent transparent transparent;
}

.redTeam {
  color: white;
  background: #bf1225;
}

.tri-right.redTeam:after{
  border-color: #bf1225 transparent transparent transparent;
}

.blueTeam {
  color: white;
  background: #0052a5;
}

.tri-right.blueTeam:after{
  border-color: #0052a5 transparent transparent transparent;
}

h1, .ballotBox, .ballotBox input {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

#registerPage {
  width: 100%;
  height: calc(100% - 4em);
  padding-top: 4em;
  text-align: center;
  position: absolute;
  color: white;
  background: #002664;
}

#registerPage .highlight {
  color: #bf1225;
}

#registerPage form {
  outline: none;
}

#registerPage form input {
  font-family: inherit;
  background: #002664;
  color: white;
  border: none;
  border-bottom: solid white;
  outline: none;
  text-align: center;
  font-size: 3em;
    text-shadow: 0 0 20px #002664;
}

@media (min-width: 43.75em) {
  h1, .ballotBox, .ballotBox input {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1, .ballotBox {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

html {
-ms-touch-action: manipulation;
touch-action: manipulation;
}
#container2 {
	clear:both;
	float:left;
  color: white;
	width:100%;
	overflow:hidden;
  display: block;
  position: relative;
  left: 0%;
	background:#bf1225 ; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	background:#0052a5; /* column 1 background colour */
}
#leftCandidate {
  text-align: center;
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#rightCandidate {
  text-align: center;
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  color: #bf1225;
  background: #dddddd;
  width: .3em;
  height: .3em;
}

input[type="radio"]:checked::before {
  content: "\2713";
  position: absolute;
  top: -.35em;
  font-size: .4em;
}

.team {
  text-align: center;
}

.ballotBox {
  display: block;
  clear: both;
  font-weight: bold;
  font-family: 'Arvo', serif;
  margin: 1em;
}

.ballotBox input[type="submit"] {
   font-size: inherit;
   font-weight: bold;
   font-family: 'Arvo', serif;
   border-radius: .08em;
   margin: 1em;
   padding: .2em;
   color: white;
   background-color: #0052a5;
   border: none;
   outline: none;
}

.ballotBox input[type="submit"]:active {
  background-color: #bf1225;
  border: none;
}
