body {
  font-size: 100%;
}

input[type="checkbox"] {
  width: 2em;
  height: 1.3em;
  -webkit-width: 44px;
  -webkit-height: 44px;
}

.ballotBox {
  font-size: 2.618em;
  font-weight: bold;
  font-family: 'Arvo', serif;
  margin: 50px;
}

.ballotBox input[type="submit"] {
   font-weight: bold;
   font-family: 'Arvo', serif;
   border-radius: 3px;
   font-size: 2.618em;
   margin: 50px;
   padding: 8px;
   color: white;
   background-color: #0052a5;
   border: none;
   outline: none;
}

.ballotBox input[type="submit"]:active {
  background-color: #bf1225;
  border: none;
}
